initializer/src/main/xjb/xsd/changeset.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="changesets" type="t_global_change_sets" />
    <xs:complexType name="t_global_change_sets">
        <xs:sequence>
            <xs:element name="changeset" type="t_single_change_set" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="t_single_change_set">
        <xs:attribute name="filename" type="xs:string" use="required" />
    </xs:complexType>
</xs:schema>